<h2>Stage</h2>
<div class = "StageForm">
  <label>Stage value :
    <input type="number" #value />
  </label>
  <br>
  <br>
  <label>Stage Receiver:
    <select #stageReceiverId>
      <option value="">---</option>
      <option *ngFor="let receiver of receiverList" [value]="receiver.id">{{ receiver.firstname }} {{ receiver.lastname }}</option>
    </select>
  </label>
  <br>
  <br>
  <label>Stage Diploma:
    <select #stageDiplomaId>
      <option value="">---</option>
      <option *ngFor="let subject of subjectList" [value]="subject.id">{{ subject.subjectName }}</option>
    </select>
    <br>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(value.value, +stageReceiverId.value, +stageDiplomaId.value );
                  value.value=''" (click)="resetDropdown(stageReceiverId, stageDiplomaId)">
    add
  </button>
  <br>
</div>
<label>Filter by Receiver Lastname :
  <input type="text" [(ngModel)]="filterValue" (keyup)="filterTable()" />
</label>
<br><br>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Diploma</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Stage value</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let stage of stageList">
    <td>{{ stage.id }}</td>
    <td>{{ stage.subject.subjectName }}</td>
    <td>{{ stage.receiver.firstname }}</td>
    <td>{{ stage.receiver.lastname }}</td>
    <td>{{ stage.value }}</td>
    <td>
      <button title="delete" (click)="delete(stage)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<button title="delete all" (click)="deleteAll()">delete all</button>
<ul>
  <li *ngFor="let list of listStage" class="sublist">
    {{ list.join(', ') }}
  </li>
</ul>

