<div class="container">
  <h2 class="section-title">Receiver Information</h2>
  <table class="info-table">
    <tr>
      <th>Identifier</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Telephone</th>
    </tr>
    <tr>
      <td>{{ receiver?.identifier }}</td>
      <td>{{ receiver?.firstname }}</td>
      <td>{{ receiver?.lastname }}</td>
      <td>{{ receiver?.email }}</td>
      <td>{{ receiver?.telephone }}</td>
    </tr>
  </table>

  <h2 class="section-subjects">Your Staged Diploma</h2>
  <div class="subjects-list">
    <ul>
      <li *ngFor="let subject of listSubject">
        <button class="subject-button" (click)="showStageBySubject(subject)">
          {{ subject.subjectName }}
        </button>
      </li>
    </ul>
  </div>

  <div class="grades-details" *ngIf="selectedStage.length > 0">
    <h2 class="section-grade">Stage</h2>
    <table class="grades-table">
      <tr>
        <th>Stage</th>
        <th>Transmitter</th>
      </tr>
      <tr *ngFor="let grade of selectedStage">
        <td>{{ grade.value }}</td>
        <td>{{ grade.subject.transmitter.lastname }}</td>
      </tr>
    </table>
  </div>
</div>
