<div class="container">
  <h2 class="section-title">Student Information</h2>
  <table class="info-table">
    <tr>
      <th>Identifier</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Telephone</th>
    </tr>
    <tr>
      <td>{{ student?.identifier }}</td>
      <td>{{ student?.firstname }}</td>
      <td>{{ student?.lastname }}</td>
      <td>{{ student?.email }}</td>
      <td>{{ student?.telephone }}</td>
    </tr>
  </table>

  <h2 class="section-subjects">Your Graded Subjects</h2>
  <div class="subjects-list">
    <ul>
      <li *ngFor="let subject of listSubject">
        <button class="subject-button" (click)="showGradesBySubject(subject)">
          {{ subject.subjectName }}
        </button>
      </li>
    </ul>
  </div>

  <div class="grades-details" *ngIf="selectedGrades.length > 0">
    <h2 class="section-grade">Grades</h2>
    <table class="grades-table">
      <tr>
        <th>Grade</th>
        <th>Teacher</th>
      </tr>
      <tr *ngFor="let grade of selectedGrades">
        <td>{{ grade.value }}</td>
        <td>{{ grade.subject.teacher.lastname }}</td>
      </tr>
    </table>
  </div>
</div>
