<h2>Transmitter Information</h2>
<table>
  <tr>
    <th>Identifier</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Telephone</th>
  </tr>
  <tr>
    <td>{{ transmitter?.identifier }}</td>
    <td>{{ transmitter?.firstname }}</td>
    <td>{{ transmitter?.lastname }}</td>
    <td>{{ transmitter?.email }}</td>
    <td>{{ transmitter?.telephone }}</td>
  </tr>
</table>

<h2>Your Subject</h2>
<table>
  <tr>
    <th>Subject</th>
  </tr>
  <tr *ngFor="let subject of listSubjectsOfTransmitter">
    <td>{{ subject.subjectName }}</td>
  </tr>
</table>

<h2>Add Stage</h2>
<div class = "StageForm">
  <label>Stage value :
    <input type="number" #value />
  </label>
  <br>
  <br>
  <label>Stage Receiver:
    <select #stageReceiverId>
      <option value="">---</option>
      <option *ngFor="let receiver of listReceiver" [value]="receiver.id">{{ receiver.firstname }} {{ receiver.lastname }}</option>
    </select>
  </label>
  <br>
  <br>
  <label>Stage Subject:
    <select #stageSubjectId>
      <option value="">---</option>
      <option *ngFor="let subject of listSubjectsOfTransmitter" [value]="subject.id">{{ subject.subjectName }}</option>
    </select>
    <br>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(value.value, +stageReceiverId.value, +stageSubjectId.value );
                  value.value=''" (click)="resetDropdown(stageReceiverId, stageSubjectId)">
    add
  </button>
  <br>
</div>
<label>Filter by Receiver Lastname :
  <input type="text" [(ngModel)]="filterValue" (keyup)="filterTable()" />
</label>
<br>
<h2>Stage</h2>
<table>
  <tr>
    <th>Subject</th>
    <th>Receiver Firstname</th>
    <th>Receiver Lastname</th>
    <th>Stage</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let stage of listStagesOfSubjectOfTransmitter">
    <td>{{ stage.subject.subjectName }}</td>
    <td>{{ stage.receiver.firstname }}</td>
    <td>{{ stage.receiver.lastname }}</td>
    <td>{{ stage.value }}</td>
    <td>
      <button title="delete" (click)="delete(stage)">Delete</button>
    </td>
  </tr>
</table>
