<h2>Transmitters</h2>
<div class="TransmitterForm">
  <label>Transmitter firstname:
    <input #transmitterFirstName />
  </label>
  <br>
  <label>Transmitter lastname:
    <input #transmitterLastName />
  </label>
  <br>
  <label>Transmitter email:
    <input #transmitterEmail />
  </label>
  <br>
  <label>Transmitter telephone:
    <input #transmitterTelephone />
  </label>
  <br>
  <label>Transmitter identifier:
    <input #transmitterIdentifier />
  </label>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(transmitterFirstName.value, transmitterLastName.value, transmitterEmail.value, transmitterTelephone.value, transmitterIdentifier.value);
                  transmitterFirstName.value=''; transmitterLastName.value=''; transmitterEmail.value=''; transmitterTelephone.value='';transmitterIdentifier.value=''">
    add
  </button>
  <button (click)="addStandBy(transmitterFirstName.value, transmitterLastName.value, transmitterEmail.value, transmitterTelephone.value, transmitterIdentifier.value);
                    transmitterFirstName.value=''; transmitterLastName.value=''; transmitterEmail.value=''; transmitterTelephone.value=''; transmitterIdentifier.value=''">
    +
  </button>
</div>
<label>Filter by Lastname :
  <input type="text" [(ngModel)]="filterValue" (keyup)="filterTable()" />
</label>
<br><br>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Identifier</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transmitter of transmitterList">
    <td>{{ transmitter.id }}</td>
    <td>{{ transmitter.firstname }}</td>
    <td>{{ transmitter.lastname }}</td>
    <td>{{ transmitter.email }}</td>
    <td>{{ transmitter.telephone }}</td>
    <td>{{ transmitter.identifier }}</td>
    <td>
      <button title="delete" (click)="delete(transmitter)">Delete</button>
      <button title="delete" (click)="update(transmitterFirstName.value,transmitterLastName.value, transmitterEmail.value, transmitterTelephone.value, transmitterIdentifier.value,transmitter);
                                      transmitterFirstName.value=''; transmitterLastName.value=''; transmitterEmail.value=''; transmitterTelephone.value=''; transmitterIdentifier.value=''">
        Update
      </button>
      <button title="partial update" (click)="partialUpdate(transmitter, transmitterFirstName.value,transmitterLastName.value, transmitterEmail.value, transmitterTelephone.value, transmitterIdentifier.value);
                                      transmitterFirstName.value=''; transmitterLastName.value=''; transmitterEmail.value=''; transmitterTelephone.value=''; transmitterIdentifier.value=''"
      >Partial Update</button>
    </td>
  </tr>
  </tbody>
</table>
<ul>
  <li *ngFor="let list of listTransmitter" class="sublist">
    {{ list.join(', ') }}
  </li>
</ul>
